<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/board.js"></script>
    <link rel="stylesheet" href="/static/board.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="left-bar">
        <!--left banner-->
    </div>
    <div class="header-bar"></div>
    <div class="contents">
        <div id="replyerrormsg" class="alert alert-danger" role="alert" style="display:none;">{{ error }}</div>
        {% block contents %}{% endblock %}
    </div>
    <div class="right-bar">
        <!--right banner-->
    </div>
</body>
</html>