{% extends 'base.html' %}
{% block contents %}
<script src="/static/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({ selector:'textarea',
        max_width:"100%",
        max_height:700,
        plugins: "media, image",
        toolbar: "media, image",
        media_live_embeds: true,
    });
</script>
<form class="form-horizontal" method='POST' action="{% url 'board_edit' board_id %}?page={{page}}&searchStr={{ searchStr }}" novalidate>
    
    {% csrf_token %}
    <div>
        {{ form.id }}
    </div>
    <div class="form-group">
        <div>
            {{ form.subject }}
        </div>
    </div>
    <div class="form-group">
        <div>
            {{ form.contents }}
        </div>
    </div>
    <hr>
    <div>
        <button class="btn btn-default btn-sm" type="submit">작성</button>
        <button class="btn btn-default btn-sm" type="button" onclick="location.href='{% url 'board_home' %}?page={{page}}&searchStr={{ searchStr }}'">뒤로</button>
    </div>
</form>

{% endblock %}