{% load arithmetic %}

<script>
$(document).ready(function() {
    var replyInputCnt = 0;
    $(document).on("click", ".glyphicon-trash", function () {
        $("#modalinputpassword").val("");
        $("#modalinputpassword").focus();
        var replyid = $(this).data('id');
        //  console.log(replyid);
        var urlstring = "/reply/delete/{{ board.id }}/"+replyid+"/?&page={{page}}&searchStr={{searchStr}}";
        $("#modalpassword").attr({action:urlstring});
        
    }).on("click", ".glyphicon-comment", function(){
        if(replyInputCnt==0){
            var parent = $(this).data('id');
            var depth = $(this).data('depth');
            depth++;
            var urlstring = "{% url 'reply_write' board_id=board.id %}?parent="+parent+"&depth="+depth+"&page={{page}}&searchStr={{searchStr}}";
            var tmplMarkup = $('#replyinputtmp').html();
            // console.log(tmplMarkup)
            var compiledTmpl = _.template(tmplMarkup);

            $(this).parent().after(compiledTmpl({actionurl:urlstring}));
            replyInputCnt++;
        }
    }).on("click", ".glyphicon-pencil", function(){
        if(replyInputCnt==0){
            var id = $(this).data('id');
            var depth = $(this).data('depth');
            var comment = $(this).data('comment');
            // console.log(comment);
            depth++;
            var urlstring="/reply/update/{{ board.id }}/"+id+"/?&page={{page}}&searchStr={{searchStr}}";
            var tmplMarkup = $('#replyedittmp').html();
            
            var compiledTmpl = _.template(tmplMarkup);

            $(this).parent().next().append(compiledTmpl({comment:comment, actionurl:urlstring}));
            $("#comment"+id).hide();
            replyInputCnt++;
        }else{
            
        }
    }).on("click", "#close_edit_reply", function(){
        // console.log($(this).html());
        $("span:hidden").show();
        $("div").remove("#editreply");
        replyInputCnt--;
    }).on("click", "#close_add_reply", function(){
        $("div").remove("#addreply");
        replyInputCnt--;
    });
});


</script>

{% for reply in replys %}
    <ul class="">
        <div class="comment" style="padding-left:{{16|mul:reply.depth}}px;">
            {% if reply.depth > 0 %}
                <i class="fa fa-share fa-flip-vertical repicon"></i>            
            {% endif %}
            <b>{{ reply.name }}</b> &nbsp;&nbsp;{{reply.created_date|date:"Y-m-d H:i:s"}} &nbsp;&nbsp; ({{ reply.ipaddress|ip }}) &nbsp;&nbsp;
            <span class="text-right comment-tool">
                <button class="btn btn-default btn-sm glyphicon glyphicon-pencil" aria-hidden="true" data-comment="{{ reply.comment }}" data-id="{{ reply.id }}"></button>
                <button class="btn btn-default btn-sm glyphicon glyphicon-trash" aria-hidden="true" data-toggle="modal" data-target="#myModal" data-id="{{ reply.id }}"></button>
                <button class="btn btn-default btn-sm glyphicon glyphicon-comment" aria-hidden="true" data-depth="{{ reply.depth }}" data-id="{{ reply.id }}"></button>
            </span>
            <div class="comment-text">
                <span id="comment{{reply.id}}">{% autoescape off %} {{ reply.comment|linebreaks }} {% endautoescape %}</span>
            </div>
        </div>
    </ul>
    <hr>
{% endfor %}

<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form id="modalpassword" method="POST" action="">
            {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">삭제하려면 비밀번호를 입력하세요.</h4>
            </div>
            <div class="modal-body">
            <input id="modalinputpassword" type="password" name="replyPassword">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-sm">확인</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">취소</button>
            </div>
        </div>
        </form>
    </div>
</div>

<script type="text/template" id="replyinputtmp">
    <div class="container" id = addreply>
    <form class="form-inline" method='POST' action= <%= actionurl %> novalidate>
        {% csrf_token %}
        <div class="form-group row">
            {{ reply_form.comment }}
        </div>
        <div class="row">
            <div class="form-group">
                {{ reply_form.name }}
            </div>
            <div class="form-group">
                {{ reply_form.password }}
            </div>
            <button class="btn btn-default btn-sm" type="submit">입력</button>
            <button id="close_add_reply" class="btn btn-default btn-sm" type="button">닫기</button>
        </div>
    </form>
    </div>
</script>

<script type="text/template" id="replyedittmp">
    <div class="container" id="editreply">
    <form id="replyedit" class="form-inline" method='POST' action= <%= actionurl %> novalidate>
        {% csrf_token %}
        <div class="form-group row">
            <textarea class="form-control" cols="90" id="id_comment" name="comment" placeholder="댓글" rows="3" required=""><%= comment %></textarea>
        </div>
        <div class="row">
            <div class="form-group">
                {{ reply_form.password }}
            </div>
            <button class="btn btn-default btn-sm" type="submit">입력</button>
            <button id="close_edit_reply" class="btn btn-default btn-sm" type="button">닫기</button>
        </div>
    </form>
    </div>
</script>